In [51]:
import pandas as pd 
import json
from arcgis.features import FeatureLayer

In [21]:
# url = 'https://services1.arcgis.com/79kfd2K6fskCAkyg/arcgis/rest/services/FoodServiceData/FeatureServer/0'

# batch_size = 1000  # Number of records to retrieve per batch
# offset = 0  # Initial offset value
# data_list = []
# # â€‹Create the feature layer object
# feature_layer = FeatureLayer(url)

# while True:
#     # Query the feature layer with pagination
#     query_result = feature_layer.query(where='1=1', out_fields='*', return_geometry=False, result_offset=offset, result_record_count=batch_size)
    
#     # Retrieve the features from the query result
#     features = query_result.features
    
#     # Process the data for the current batch
#     for feature in features:
#         data_list.append(feature.attributes)
    
#     # Break the loop if the response is empty or the desired number of records is reached
#     if len(features) == 0 or len(data_list) >= 1000:
#         break
    
#     # Increment the offset by the batch size
#     offset += batch_size
# # Create a DataFrame from the data list
# df = pd.DataFrame(data_list)

In [52]:
df = pd.read_csv("local_working.csv")

In [53]:
cols_drop = ['InspectionID', 'PlaceName', 'Address2', 'TypeDescription', 'NameSearch', 'Intersection']
df.drop(cols_drop, axis=1, inplace=True)

In [54]:
df['InspectionDate'] = pd.to_datetime(df['InspectionDate'])

In [55]:
df.head()

,EstablishmentID,Ins_TypeDesc,EstablishmentName,Address,City,State,Zip,InspectionDate,score,Grade,ObjectId
0,98505,REGULAR,MI SUENO RESTAURANT,3425 BARDSTOWN RD,LOUISVILLE,KY,40218,2023-04-18,70,C,4803
1,118055,REGULAR,DAISUKI SUSHI,1604 BARDSTOWN RD,LOUISVILLE,KY,40205,2023-04-14,71,C,10803
2,99781,REGULAR,HAPPY CHINA,9128 TAYLORSVILLE RD,LOUISVILLE,KY,40299,2022-12-22,72,C,5049
3,115438,FOLLOWUP,EXPRESSWAY FOOD MART,1420 W BROADWAY,LOUISVILLE,KY,40203,2022-12-27,73,C,9916
4,107689,REGULAR,BEST WESTERN,4110 DIXIE HWY,LOUISVILLE,KY,40216,2022-09-28,74,C,6908

In [36]:
# # Grouping by EstablishmentID and aggregating the scores and inspection dates
# grouped_df = df.groupby("EstablishmentID").agg({
#     "EstablishmentName": "first",
#     "score": lambda x: list(x),
#     "InspectionDate": lambda x: list(x)
# })

# # Sorting the establishments based on the count of low scores
# grouped_df["low_score_count"] = grouped_df["score"].apply(lambda x: sum(score < 80 for score in x))
# grouped_df = grouped_df.sort_values("low_score_count", ascending=False)

# # Selecting the top 20 establishments with the most low scores
# top_20_establishments = grouped_df.head(20)

# # Printing the results
# top_20_establishments[["EstablishmentName", "score", "InspectionDate"]]

,EstablishmentName,score,InspectionDate
EstablishmentID,,,
115438,EXPRESSWAY FOOD MART,"[73, 78, 91, 93, 93, 96, 98]","[2022-12-27 00:00:00, 2022-12-08 00:00:00, 202..."
99781,HAPPY CHINA,"[72, 91, 97]","[2022-12-22 00:00:00, 2022-07-06 00:00:00, 202..."
112909,TAQUERIA LOS GORDITOS,"[76, 96]","[2022-09-26 00:00:00, 2022-10-03 00:00:00]"
107181,LA MORENA,"[76, 92, 93, 98]","[2023-03-02 00:00:00, 2023-03-09 00:00:00, 202..."
115792,KABUKI,"[75, 96, 100]","[2022-08-15 00:00:00, 2022-08-25 00:00:00, 202..."
92904,DIXIE CHICKEN,"[74, 93, 96, 98]","[2022-06-23 00:00:00, 2023-03-06 00:00:00, 202..."
109775,DALAT'S GATEAUX & CAFE,"[79, 88, 93, 94, 100, 100, 100, 100]","[2023-03-24 00:00:00, 2022-09-26 00:00:00, 202..."
109770,MASHALLAH AFRICAN RESTAURANT,"[74, 94, 99]","[2023-01-11 00:00:00, 2022-08-10 00:00:00, 202..."
107692,FAMILY TIES,"[78, 81, 100]","[2023-04-27 00:00:00, 2022-11-04 00:00:00, 202..."
106862,TOWNEPLACE SUITES,"[77, 97, 98]","[2022-08-10 00:00:00, 2022-08-16 00:00:00, 202..."
98505,MI SUENO RESTAURANT,"[70, 80, 96, 97]","[2023-04-18 00:00:00, 2022-10-10 00:00:00, 202..."
107689,BEST WESTERN,"[74, 93, 97]","[2022-09-28 00:00:00, 2022-12-06 00:00:00, 202..."
89918,LA CHAPINLANDIA,"[75, 85, 95, 95, 95, 96]","[2023-03-20 00:00:00, 2023-03-20 00:00:00, 202..."
118055,DAISUKI SUSHI,"[71, 95, 100]","[2023-04-14 00:00:00, 2023-03-15 00:00:00, 202..."
116087,22ND FOOD MART,"[78, 81, 94, 95, 96, 96, 98, 98]","[2022-08-12 00:00:00, 2022-08-12 00:00:00, 202..."
99182,LAS AMERICAS MEXICAN RESTAURANT,"[75, 94, 97, 100]","[2023-02-01 00:00:00, 2022-08-11 00:00:00, 202..."
35239,AL WATAN BAKERY,"[74, 90]","[2023-02-28 00:00:00, 2023-03-07 00:00:00]"
111785,I LOVE TACOS,"[78, 95, 100]","[2022-10-31 00:00:00, 2023-04-26 00:00:00, 202..."
108986,PUERCO LOCO & CARIBBEAN STYLE PINA COLADA,[98],[2022-09-02 00:00:00]
29956,CVS #6211,[100],[2022-07-06 00:00:00]

In [46]:
# # Grouping by EstablishmentID and aggregating the necessary columns
# grouped_df = df.groupby("EstablishmentID").agg({
#     "EstablishmentName": "first",
#     "Address": "first",
#     "score": lambda x: list(x)
# })

# # Sorting the establishments based on the count of low scores
# grouped_df["low_score_count"] = grouped_df["score"].apply(lambda x: sum(score < 75 for score in x))
# grouped_df = grouped_df.sort_values("low_score_count", ascending=False)

# # Selecting the top 20 establishments with the most low scores
# top_20_establishments = grouped_df.head(20)

# # Creating the final DataFrame with the desired columns
# final_df = top_20_establishments[["EstablishmentName", "Address", "score"]]

# # Printing the final DataFrame
# final_df.head(5)

,EstablishmentName,Address,score
EstablishmentID,,,
118055,DAISUKI SUSHI,1604 BARDSTOWN RD,"[71, 95, 100]"
115438,EXPRESSWAY FOOD MART,1420 W BROADWAY,"[73, 78, 91, 93, 93, 96, 98]"
35239,AL WATAN BAKERY,3711 KLONDIKE LN,"[74, 90]"
98505,MI SUENO RESTAURANT,3425 BARDSTOWN RD,"[70, 80, 96, 97]"
92904,DIXIE CHICKEN,3947 DIXIE HWY,"[74, 93, 96, 98]"

In [62]:
# Grouping by EstablishmentID and calculating average scores
avg_scores_df = df.groupby("EstablishmentID").agg({
    "EstablishmentName": "first",
    "Address": "first",
    "score": "mean"
})

# Sorting the establishments based on average scores
sorted_restaurants = avg_scores_df.sort_values("score", ascending=True)

# Displaying the restaurants with consistently lower scores
sorted_restaurants.head(10)

,EstablishmentName,Address,score
EstablishmentID,,,
35239,AL WATAN BAKERY,3711 KLONDIKE LN,82.000000
98505,MI SUENO RESTAURANT,3425 BARDSTOWN RD,85.750000
112909,TAQUERIA LOS GORDITOS,2017 BROWNSBORO RD STE B,86.000000
107692,FAMILY TIES,1030 CECIL AVE,86.333333
99781,HAPPY CHINA,9128 TAYLORSVILLE RD,86.666667
107689,BEST WESTERN,4110 DIXIE HWY,88.000000
35038,STRIKE & SPARE FAMILY FUN CENTER,6220 SHEPHERDSVILLE RD,88.000000
81788,WINGS STATION,2119 CRUMS LN,88.000000
118055,DAISUKI SUSHI,1604 BARDSTOWN RD,88.666667
115438,EXPRESSWAY FOOD MART,1420 W BROADWAY,88.857143