In [63]:
import pandas as pd 
import json
from arcgis.features import FeatureLayer

In [64]:
# url = 'https://services1.arcgis.com/79kfd2K6fskCAkyg/arcgis/rest/services/FoodServiceData/FeatureServer/0'

# batch_size = 1000  # Number of records to retrieve per batch
# offset = 0  # Initial offset value
# data_list = []
# # â€‹Create the feature layer object
# feature_layer = FeatureLayer(url)

# while True:
#     # Query the feature layer with pagination
#     query_result = feature_layer.query(where='1=1', out_fields='*', return_geometry=False, result_offset=offset, result_record_count=batch_size)
    
#     # Retrieve the features from the query result
#     features = query_result.features
    
#     # Process the data for the current batch
#     for feature in features:
#         data_list.append(feature.attributes)
    
#     # Break the loop if the response is empty or the desired number of records is reached
#     if len(features) == 0 or len(data_list) >= 1000:
#         break
    
#     # Increment the offset by the batch size
#     offset += batch_size
# # Create a DataFrame from the data list
# df = pd.DataFrame(data_list)

In [65]:
# df = pd.read_csv("local_working.csv")

In [66]:
cols_drop = ['InspectionID', 'PlaceName', 'Address2', 'TypeDescription', 'NameSearch', 'Intersection']
df.drop(cols_drop, axis=1, inplace=True)

In [67]:
df['InspectionDate'] = pd.to_datetime(df['InspectionDate'])

In [68]:
df.head()

,EstablishmentID,Ins_TypeDesc,EstablishmentName,Address,City,State,Zip,InspectionDate,score,Grade,ObjectId
0,29956,REGULAR,CVS #6211,3721 LEXINGTON RD,LOUISVILLE,KY,40207,2022-07-06,100,None,1
1,29967,REGULAR,NEIGHBORHOOD FOOD MART,542 LAMPTON ST,LOUISVILLE,KY,40203,2022-09-07,97,None,2
2,29979,REGULAR,CIRCLE K #4700075,1630 ARTHUR ST,LOUISVILLE,KY,40208,2022-09-01,97,A,3
3,29979,REGULAR,CIRCLE K #4700075,1630 ARTHUR ST,LOUISVILLE,KY,40208,2022-09-01,98,None,4
4,29979,REGULAR,CIRCLE K #4700075,1630 ARTHUR ST,LOUISVILLE,KY,40208,2023-01-27,95,A,5

In [69]:
# # Grouping by EstablishmentID and aggregating the scores and inspection dates
# grouped_df = df.groupby("EstablishmentID").agg({
#     "EstablishmentName": "first",
#     "score": lambda x: list(x),
#     "InspectionDate": lambda x: list(x)
# })

# # Sorting the establishments based on the count of low scores
# grouped_df["low_score_count"] = grouped_df["score"].apply(lambda x: sum(score < 80 for score in x))
# grouped_df = grouped_df.sort_values("low_score_count", ascending=False)

# # Selecting the top 20 establishments with the most low scores
# top_20_establishments = grouped_df.head(20)

# # Printing the results
# top_20_establishments[["EstablishmentName", "score", "InspectionDate"]]

In [74]:
# Grouping by EstablishmentID and aggregating the necessary columns
grouped_df = df.groupby("EstablishmentID").agg({
    "EstablishmentName": "first",
    "Address": "first",
    "score": lambda x: list(x)
})

# Sorting the establishments based on the count of low scores
grouped_df["low_score_count"] = grouped_df["score"].apply(lambda x: sum(score < 75 for score in x))
grouped_df = grouped_df.sort_values("low_score_count", ascending=False)

# Selecting the top 20 establishments with the most low scores
top_20_establishments = grouped_df.head(20)

# Creating the final DataFrame with the desired columns
final_df = top_20_establishments[["EstablishmentName", "Address", "score"]]

# Printing the final DataFrame
final_df.head(30)

,EstablishmentName,Address,score
EstablishmentID,,,
115438,EXPRESSWAY FOOD MART,1420 W BROADWAY,"[0, 93, 96, 73, 91, 0, 78, 93, 0, 98, 0, 0, 0,..."
116093,3 BROTHERS FOOD MARKET,4132 W BROADWAY,"[0, 100, 100, 0, 0, 0, 0, 0, 0, 0, 82, 90, 0, ..."
102268,FAMILY DOLLAR #31859,2421 W MARKET ST,"[90, 100, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
107692,FAMILY TIES,1030 CECIL AVE,"[0, 0, 81, 0, 0, 0, 0, 0, 0, 0, 0, 0, 78, 100]"
107689,BEST WESTERN,4110 DIXIE HWY,"[74, 93, 97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
117851,MOE'S #2,1636 W OAK ST,"[99, 97, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
118623,CEDAR BAR,416 S 26TH ST,"[91, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
116570,COLE'S EVENT SPACE,2928 W KENTUCKY ST,"[96, 0, 0, 0, 98, 0, 0, 0, 0, 0]"
107585,WENDYS,3610 BUECHEL BYPASS,"[100, 0, 0, 81, 93, 87, 0, 0, 0, 0, 98, 0, 0]"
67696,HOWARD JOHNSON,709 PHILLIPS LN,"[0, 0, 0, 0, 100, 0, 0, 0, 0]"
112734,MCDONALD'S #7110,2720 W BROADWAY,"[100, 83, 95, 0, 0, 0, 0, 0, 0, 0, 0]"
106712,DERBY CAFE EXPRESS,704 CENTRAL AVE,"[95, 99, 96, 100, 0, 0, 0, 0, 0, 0, 0]"
115072,BIG MOMMA'S SOUL FOOD KITCHEN,1213 S 28TH ST,"[97, 0, 0, 0, 0, 0, 0, 0, 96]"
111231,PARKLAND NEIGHBORHOOD GROCERY,1220 S 28TH ST,"[90, 94, 0, 0, 0, 0, 0, 0, 0, 100, 97, 97, 100]"
116094,SEMHAR LLC,1320 DIXIE HWY,"[0, 0, 0, 0, 95, 94, 0, 0, 0]"
117747,MISS MARY'S CONVENIENCE STORE,500 S 20TH ST,"[100, 0, 0, 0, 0, 0, 0, 0, 99]"
92904,DIXIE CHICKEN,3947 DIXIE HWY,"[0, 0, 0, 0, 0, 0, 74, 98, 93, 96]"
35998,KROGER L-379,9080 TAYLORSVILLE RD,"[97, 97, 0, 0, 98, 96, 0, 0, 0, 0, 0]"
114409,STEAK N SHAKE #703,2717 S HURSTBOURNE PKWY,"[98, 97, 0, 0, 0, 0, 0, 0]"
103698,MILANTONI,1600 S HURSTBOURNE PKWY,"[0, 0, 0, 0, 0, 0, 94, 88, 98]"

In [73]:
# Grouping by EstablishmentID and calculating average scores
avg_scores_df = df.groupby("EstablishmentID").agg({
    "EstablishmentName": "first",
    "Address": "first",
    "score": "mean"
})

# Sorting the establishments based on average scores
sorted_restaurants = avg_scores_df.sort_values("score", ascending=True)

# Displaying the restaurants with consistently lower scores
sorted_restaurants.head(40)

,EstablishmentName,Address,score
EstablishmentID,,,
114313,PEACE OF MIND PRESCHOOL,2119 OLD SHEPHERDSVILLE RD,0.000000
108255,MARINATIONS CATERING,2806 DUMESNIL STREET,0.000000
114588,BLACK MARKET,2313 W MARKET ST,0.000000
114608,CEMITAS POBLANAS AZTECA,None,0.000000
97399,SOUL FOOD KITCHEN ON WHEELS,None,0.000000
118623,CEDAR BAR,416 S 26TH ST,8.272727
67696,HOWARD JOHNSON,709 PHILLIPS LN,11.111111
102268,FAMILY DOLLAR #31859,2421 W MARKET ST,14.615385
117851,MOE'S #2,1636 W OAK ST,16.333333
107692,FAMILY TIES,1030 CECIL AVE,18.500000
99469,STEVIE J'S,1831 W JEFFERSON ST,18.600000
84366,J&M FOOD MART,2533 W MUHAMMAD ALI BLVD,19.000000
44024,FAMILY DOLLAR #21434,431 W OAK ST,19.000000
116570,COLE'S EVENT SPACE,2928 W KENTUCKY ST,19.400000
107689,BEST WESTERN,4110 DIXIE HWY,20.307692
116094,SEMHAR LLC,1320 DIXIE HWY,21.000000
115072,BIG MOMMA'S SOUL FOOD KITCHEN,1213 S 28TH ST,21.444444
117747,MISS MARY'S CONVENIENCE STORE,500 S 20TH ST,22.111111
86171,WEST END TOKEN CLUB,708 S 16TH ST,22.250000
107229,OASIS GROCERY MARKET,1036 S 4TH ST,23.000000
110029,WAFFLE HOUSE #1398,12020 STANDIFORD PLAZA DR,23.500000
115562,G & K MARKET,3129 W MUHAMMAD ALI BLVD,23.500000
114484,GLOBAL MART,2728 W MARKET ST,23.750000
117743,JOE'S PALM ROOM,1821 W JEFFERSON ST,24.000000
114489,SAGARMATHA GROCERY,4010 BARDSTOWN RD,24.250000
113778,LAS CHAMAS,None,24.250000
44023,FAMILY DOLLAR #21351,790 EASTERN PKWY,24.250000
63225,WALGREENS #5001,2490 BARDSTOWN RD,24.250000
114409,STEAK N SHAKE #703,2717 S HURSTBOURNE PKWY,24.375000
114799,CHICAGO'S JERK TACOS,227 S 30TH ST,24.500000
107286,OHIO VALLEY WRESTLING,4400 SHEPHERDSVILLE RD,24.500000
114771,EL TIO MARTIN,None,25.000000
112734,MCDONALD'S #7110,2720 W BROADWAY,25.272727
90118,QDOBA #2713,1832 S 3RD ST,27.000000
106832,LIL ANGELS ENRICHMENT CENTER,1803 W BROADWAY,27.857143
30337,PIC PAC,3110 TAYLOR BLVD,30.333333
84839,COMMUNITY TRANSITIONAL SERVICES,1407 W JEFFERSON ST,31.000000
115438,EXPRESSWAY FOOD MART,1420 W BROADWAY,31.100000
103698,MILANTONI,1600 S HURSTBOURNE PKWY,31.111111
111781,BOURBON BAEKEHOUSE,1164 S BROOK ST,31.333333